{include file='cliente/header.html'}
<ol class="breadcrumb">
  <li><a href="../cliente/indexClienteC.php">Inicio</a></li>
  <li><a href="../cliente/martillo.php">Martillos</a></li>
  <li class="active">Descripcion</li>
</ol>

{foreach from=$dato item=conexion key=id}
<h2>Martillo ({$conexion.marca})</h2>
{/foreach}
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      {foreach from=$dato item=conexion key=id}
      <img src="../image/{$conexion.foto}" width="200" height="200" class="img-circle img-responsive">
      <h3>${$conexion.precio}</h3>  
      {/foreach}
    </div>

    <div class="col-md-2">
    </div>
    
    <form role="form" action="../cliente/actualizaCarritoC.php" method="post"  autocomplete="on" enctype='multipart/form-data' accept-charset='utf-8'>  
    <input type="hidden" name="id" value="{$id}">
      <div class="col-md-2">
        <label>Cantidad</label>
        <input type="text" name="cantidad"></input>
      </div>

      <div class="col-md-2">
        <input type="submit" name="enviar" value="Agregar al carrito"></input>
      </div>
    </form>

    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<hr/>
<div class="container-fluid" calss="col-md-6">
  <h1>Descripción</h1>
  <br>
  {foreach from=$dato item=conexion key=id}
  <p>{$conexion.descripcion}</p>
  {/foreach}
</div>

    </div>

<hr/>
<h1>Comentarios</h1>
<table class="table table-striped">
          {foreach from=$dato item=conexion key=id}
          <tr>
             <td>
            	<h2>{$conexion.nombre}:<br/>{$conexion.comentario}</h2>
            </td>
          </tr>
          {/foreach}
</table>
{include file='cliente/footer.html'}