{include file='cliente/header.html'}

<!--<img src="../Admin/setFotoC.php" align="right" width="200">!-->
<div class="container">
      <div class="row">
          <div class="col-xs-12">
            <div class="form-wrap">
				<label>Bienvenidos a Beto´s Bakery</label>
				<h1>Articulos por categoria</h1>
				</hr>
				<br/>

				<div class="col-md-3">
					<a href="../cliente/pastelC.php"><img src="../image/pasteles1.jpg"  width="200" height="200" class="img-circle img-responsive"></a>
					<label>Pasteles</label>
				</div>

				<div class="col-md-3">
					<a href="../cliente/postreC.php"><img src="../image/postres.jpg"  width="200" height="200" class="img-circle img-responsive"></a>
					<label>Postres</label>
				</div>

				<div class="col-md-3">
					<a href="../cliente/panC.php"><img src="../image/panes.jpg"  width="200" height="200" class="img-circle img-responsive"></a>
					<label>Pan</label>
				</div>

				<div class="col-md-3">
					<a href="../cliente/galletasC.php"><img src="../image/galletas.jpg"  width="200" height="200" class="img-circle img-responsive"></a>
					<label>Galletas</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		            <div class="form-wrap">
						<div class="col-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
		</div>
	</div>

</div>



	



{include file='cliente/footer.html'}