<div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <ol class="breadcrumb">
                  <li><a href="../cliente/indexClienteC.php">Inicio</a></li>
                  <li class="active">Pasteles</li>
                </ol>
              </div>
          	 	<table class="table table-striped">
          	 	<tr>
          	 		
          		    <th>Producto</th>
                  <th>foto</th>
                  <th>Precio</th>
                  <th>Categoria</th>
                  <th>Comprar</th>
          		</tr>
          		{foreach from=$datos item=conexion key=id}
                  <tr>
                    <td>
                        {$conexion.producto}
                    </td>
                    <td>
                        <img src='../image/{$conexion.foto}' width='150'/>
                    </td>
                      <td>
                        {$conexion.precio}
                    </td>
                    
                    <td>
                       {$conexion.categoria}
                    </td>
                    <td>
                       <a href="../cliente/descricpionArticulo.php?id_producto={$conexion.id_producto}"><span class="glyphicon glyphicon-tag"></span></a>
                    </td>
                  </tr>
                  {/foreach}
          	 	</table>
            </div>
      </div>
    </div>
</div>

  {include file='cliente/footer.html'}
