<table class="table table-striped">
  	 	<tr>
  	 		<th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Subtotal</th>
        <th>Foto</th>
        <th>Borrar</th>
	  	</tr>
		
   	    
        	{foreach from=$dato item=conexion key=id}
          <tr>
         	 	<td>
              	{$conexion.producto}
          	</td>

            <td>
                {$conexion.cantidad}
            </td>

            <td>
               <label>$</label> {$conexion.precio}
            </td>
            <td>
                <label>$</label>{$conexion.subtotal} 
            </td>
            
            <td>
              <img src="../image/{$conexion.foto}" width='150' height="160">
            </td>
            
            <td>
             <a href="../cliente/borraArticuloC.php?id_producto={$conexion.id_producto}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </td>
          </tr>
        	{/foreach}

          

  	 	</table>
      {$suma=0}
      {foreach from=$dato item=conexion key=id}
      {$suma=$suma+$conexion.subtotal}
      {/foreach}
      <div>
       <label>Total: ${$suma}</label>
       <input type="hidden" name="total" value="{$suma}">
      </div>
