{include file='Admin/header.html'}
<section id="form">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Tomar foto</h1>
                   <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="form-actions">
                                    <h3 id="nombre"></h3>
                                    <div >
                                        <input id='botonIniciar' type='button' value='Iniciar Camara' class="btn btn-info"/>
                                        <input id="email" name="email" value="" value=""/>
                                        <input id='botonFoto' type='button' value='Tomar Foto' class="btn btn-danger "/>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="span4">
                                        <div class="titulo">Cámara</div>
                                        <video id="camara" autoplay controls></video>
                                    </div>

                                    <div class="span4">
                                        <div class="titulo">Foto</div>
                                        <canvas id="foto" ></canvas>
                                    </div> 

                                    <div class="span4">
                                        <div id="consola"></div>  
                                    </div> 
                                </div>    
                            </div>
                        </div>

                    </div>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{include file='Admin/footer.html'}