{include file='Admin/header.html'}
<section id="form">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Ingresar datos personales</h1>
                    <form role="form" action="../Admin/actualizaDatosC.php" method="post" id="login-form" autocomplete="on"
                    enctype='multipart/form-data' accept-charset='utf-8' data-toggle="validator">
                        <div class="form-group">
                       {foreach from=$dato item=paco key=llave}
                            <label for="text" class="sr-only">Nombre</label>
                            <input type="text" name="nombre" value="{$paco.nombre}" class="form-control" placeholder="Nombre" >
                        
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Apellido paterno</label>
                            <input type="text" name="apaterno" value="{$paco.apaterno}" class="form-control" placeholder="Paterno" >
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Apellido materno</label>
                            <input type="text" name="amaterno"  value="{$paco.amaterno}" class="form-control" placeholder="Materno" >
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">RFC</label>
                            <input type="text" name="rfc"  value="{$paco.rfc}" class="form-control" placeholder="RFC(13 caracteres)" minlength="13"  id="inputEmail" required>
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Fecha de nacimiento</label>
                            <input type="text" name="nacimiento" value="{$paco.nacimiento}" class="form-control" placeholder="dd/mm/aaaa" >
                        </div>
                       {/foreach}
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Enviar" 
                        name="ingresar">
                    </form>
                    
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{include file='Admin/footer.html'}