{include file='header.html'}
<div class="form-wrap"  >
 <form role="form" action="recuperarContrasena.php" method="post" id="login-form" autocomplete="on"
                    enctype='multipart/form-data' accept-charset='utf-8'>
  <p>
    Ingresa tu correo y te mandaremos una contraseña provisional a tu correo para posteriormente ingresar esa contraseña en el siguiente formulario y cambiarla.
  </p>
  <label>Email</label>
  <input type="email" class="form-control" id="ejemplo_email_1"
        placeholder="Introduce tu email"
        name="email">

  <button type="submit" class="btn btn-default">Enviar</button>  
 </form>
</div>
{include file='footer.html'}