<table class="table table-striped">
      <tr>
          <th>Email</th>
          <th>Eliminar</th>
          <th>Actualizar</th>
    </tr>
        <tr>
          {foreach from=$dato item=conexion key=name}
          <td>
              {$conexion.email}
          </td>
          <td>
             <a href="../Admin/borraUsuario.php?id={$conexion.id_cliente}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
          </td>
          <td>
             <a href="../Admin/actualizaClienteC.php?id={$conexion.id_cliente}"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
       </tr>
        {/foreach}
      </table>