<table class="table table-striped">
  	 	<tr>
  	 		{foreach $nombrescolumnas as $columna}
  		    <th>{$columna}</th>
			  {/foreach}
        <th>Eliminar</th>
        <th>Actualizar</th>
	  	</tr>
        	{foreach from=$datos item=conexion key=id}
          <tr>
         	 	<td>
              	{$conexion.id_categoria}
          	</td>
              <td>
                {$conexion.categoria}
            </td>
            <td>
               <a href="../Admin/bajaCategoriaC.php?id_producto={$conexion.id_categoria}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </td>
            <td>
               <a href="../Admin/altaMarcaC.php?id_producto={$conexion.id_categoria}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
          </tr>
        	{/foreach}
  	 	</table>
  